:root, [data-bs-theme="light"] {
    --bs-font-sans-serif: "Noto Sans", system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue", "Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1.25rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.6;
    --bs-body-bg: #212529;
    --bs-body-color: #FF9900;
    --bs-secondary-color: #fff !important;
    --bs-secondary-bg: #411a4c !important;
    --bs-link-color-rgb:248, 249, 250;
    --bs-link-hover-color-rgb: 189, 195, 199, 1;
}

body {
    font-family: var(--bs-font-sans-serif);
    line-height: var(--bs-body-line-height);
    margin: 0;
    padding: 0;
    max-width: 100%; 
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 10px;
    background-color: #007acc;
    color: white;
    padding: 10px;
    text-decoration: none;
    z-index: 100;
}

.skip-link:focus {
    top: 10px;
}

main {
    margin: 0;
    min-width: 100%; 
    color: #ffffff !important;
}

.navbar{
    margin: 0 !important;
    padding: 1rem !important;
    width: 100% !important;
    height: auto;
    min-height: 60px;
    position: sticky !important;
    background-color: #2d1534;
    z-index: 1000;
    top: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-collapse{
    background-color: #2d1534;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

a:hover, .nav-link:hover {
    font-size: 1.2rem !important;
    color:#fff !important;
}

.navbar-toggler {
    background-color: #2d1534;
    color: initial;
    border: 0.1px solid #fff !important;
    border-radius: 6px;
    outline: none;
    display: flex;
    align-items: center;
}

.navbar-toggler:hover{
    background-color: #9139AC;
}

.navbar-toggler-icon{
    color:#fff !important;
    font-size: 30px;
    cursor: pointer;
}

.navbar ul{
    border-left: 0.5px solid white;
    margin-top: 25px;
    margin-left: 50px;
}

.nav-link {
    text-indent: 25px !important;
}

.nav-link:hover{
    text-decoration: underline;
    font-size: 1.1rem;
}

.btn-row {
    width: 100%; 
    top:0;
    left: 0; 
    right: 0;
    margin: 0; 
    padding: 0;
    display: flex;
    color:#fff;
    background-color: #2d1534;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.tooltip-inner{
    color:#fff;
}


.logo{
    height: 290px;
    width: auto;
}

header {
    background-color:var(--bs-secondary-bg) ;
    color: var(--bs-secondary-color);
    padding: 1rem;
    }

.section::before {
    content: '';
    display: block;
    height: 100px; 
    margin-top: -100px;
}

.card{
    background-color: #361042;
    color:#fff;
}

.form-select {
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e") !important;
    background-color: #fff !important;
    height: 54px !important;
    color: #361042;
    font-weight: 450;
    padding-left:1rem !important;
}

.form-select:focus {
    border-color: #C87CDF; 
    border-width: 2.5px;
    box-shadow: 0 0 0 .2rem rgba(54, 16, 66, 0.25); 
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; 
}


.num-select{
    background-color: #361042 !important;
    height: 70px !important;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 450;
    border-radius: 5px;
    width: 85px !important;
    padding: 0 15px !important;
    border: 1px solid transparent;
    box-shadow: var(--bs-box-shadow-sm)!important;
} 

input[type="number"].num-select:focus {
    border-color: rgba(200, 125, 223, 1) !important;
    border-width: 2.5px;
    box-shadow: 0 0 0 .2rem rgba(54, 16, 66, 0.25); 
}

footer {
    background-color:var(--bs-secondary-bg) ;
    color: var(--bs-secondary-color);
    padding: 1rem;
}

.card-text {
    text-align: center;
    margin-top: 20px;
    font-weight: 450;
    font-size: 18px;
    
}

.form-check-input {
    background-color: var(--bs-body-color) !important;
    width: 5rem !important; 
    height: 2.3rem !important;
    position: relative;
    border-radius: 25px; 
    appearance: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex-shrink: 0; 
}

.form-check-input:checked{
    border-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity)) !important;
    background-color: var(--bs-secondary-bg) !important;
}

.form-check-input::before {
    position: absolute;
    top: 50%;
    left: 0.6rem;
    transform: translateY(-50%);
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    font-size: 2rem;
}

.form-check-input::after {
    content: '⏾';
    white-space: pre; 
    position: absolute;
    left: 2.5rem;
    top: 45%;
    transform: translateY(-50%);
    font-size: 1.8rem;
    color: black;
    transition: left 0.3s ease;
    line-height: 1rem;
}

.form-check-input:checked::after {
    content: '☀︎'; 
    left: 1.2rem; 
    white-space: pre; 
    font-size: 1.7rem;
    top: 47%;
    color: white;
}


button {
    background-color: var(--bs-body-color);
    color: #000;
    border: none;
    padding: 12px 20px;
    font-size: 1.15rem;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: var(--bs-box-shadow-sm)!important;
} 

button:hover {
    background-color: #CC7A00;
}

.btn-font{
    font-size: 1.2rem;
    text-align: center;
}

input[type="file"]::file-selector-button {
    background-color: var(--bs-body-color); 
    color: #000; 
}

input[type="file"]:hover::file-selector-button {
    background-color: #CC7A00 !important;
}

.form-text{
    font-size: 0.9rem;
}

.footerbutton:disabled{
    border: 1px solid #212529;
    background-color:#d99142;
    color:#616161;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 2rem auto;
}

form label {
    margin: 0.5rem 0 0.2rem;
}

form input, form textarea {
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

form button {
    width: fit-content;
}

.icon-link{
    --bs-icon-link-transform: translate3d(0, -.125rem, 0);
    color: #fff;
}

.text {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
    display: inline-block;
}

.highlight{
    font-weight: 800;
}

.word {
        cursor: pointer;
        display: inline-block;
        margin: 0 2px;
    }

.modal-content{
    color:#fff;
}

/*Modalità alto contrasto*/
.high-contrast {
    background-color: #fff !important;
}

.high-contrast main{
    color: #2d1534 !important;
}

.high-contrast header {
    background-color: #ecac54 !important;
    color: #2d1534;
}

.high-contrast a{
    color:#2d1534;
}

.high-contrast .btn-row{
    color:#2d1534;
    background-color: #d18d2f;
}

.high-contrast .nav-link.active, .nav-link:hover{
    color:#2d1534;
}

.high-contrast footer {
    background-color:#ecac54 !important;
    color: #2d1534;
}

.high-contrast .card{
    background-color: #ecac54 !important;
    color:#2d1534;
}

.high-contrast input[type="file"]::file-selector-button {
    background-color: var(--bs-secondary-bg);
    color: #fff; 
}

.high-contrast input[type="file"]:hover::file-selector-button {
    background-color: #952CB5 !important;
    color: #fff; 
}

.high-contrast .modal-content{
    color:#d18327;
}

.high-contrast .navbar, .high-contrast .navbar-collapse{
    background-color: #d18d2f;
}

.high-contrast button {
    background-color: var(--bs-secondary-bg);
    color: #fff;
}

.high-contrast button:hover {
    background-color: #952CB5 ;
}

.high-contrast form-btn{
    border: 1px solid var(--bs-secondary-bg);
}

.high-contrast .form-check-input{
    background-color: #d7b8af;
}

.high-contrast .navbar-toggler {
    background-color: initial;
    color: initial;
}

.high-contrast .navbar-toggler:hover{
    background-color: #DEAD68;
}

.high-contrast .footerbutton:disabled{
    border: 1px solid #212529;
    background-color:#C87CDF;
    color:#616161;
}

.high-contrast .form-text{
    color: #2d1534;
}

/*Modulo contatti*/

.error-box {
    display: none;
    border: 3px solid #C22000;
    border-radius: 5px; 
    background-color: #f8d7da;
    color: #83202A;
    padding: 10px;
    font-weight: 550;
    font-size: 0.875rem;
}

.form-group.error .error-box {
    display: block;
}

.form-group.error .form-control {
    border: 2px solid #C22000; 
    box-shadow: 0 0 0 0.2rem rgba(194, 32, 0, 0.25); 
}

.form-control{
    border: 0.2px solid #000;
    background-color: #fff !important;
    color: #361042 !important;
    font-weight: 450;
}

.form-control:focus{
    border-color: #C87CDF; 
    border-width: 2.5px;
    box-shadow: 0 0 0 .2rem rgba(54, 16, 66, 0.25); 
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; 
}

.form-control::placeholder {
    color: #361042; 
    opacity: 1; 
}

.form-btn{
    border: 0.2px solid #3d251e;
}

/*Video*/
.bi{
    font-size: 1.7rem;
}

.transcription {
    visibility: hidden;
    height: 0;
    overflow: hidden;
    margin-top: 15px;
    font-size: 1.1rem;
    transition: visibility 0.3s, height 0.3s;
    max-height: 300px; 
    overflow-y: auto; 
    border: 1px solid #ddd; 
    padding: 10px; 
    border-radius: 5px;
}

.transcription.active {
    visibility: visible;
    height: auto;
    overflow-y: auto;
}

#languageSelector {
    max-width: 70px;
    height: 49px;
    font-size: 1.1rem;
    margin-top: 10px;
    padding: 7px;
}

.toggle-btn {
            margin-top: 10px;
            padding: 10px 15px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }

.toggle-btn.active {
            background-color: #FF9900;
            color:#000;
        }

i{
    font-size: 1.4rem;
    padding: 0px;
}


.transcript{
    cursor: pointer;
    color: #FF9900;
}

.transcript:hover{
   text-decoration: underline;
}

/*Slider*/
.carousel {
    position: relative;
}

.carousel-inner {
    display: flex;
    transition: transform 3.5s ease;
    overflow: hidden; 
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    opacity: 0.87; 
    transition: opacity 0.5s ease;
}

.image-container {
    position: relative;
    overflow: hidden;
    max-height: 50vh; 
    border-radius: 8px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.sliderbtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.85);
    border: none;
    font-size: 23px;
    cursor: pointer;
    height: 70px;
    width: 50px;
    z-index: 10;
}

.carousel-indicators button {
    background-color: rgba(255, 255, 255, 0.9);
    width: 3px;  
    height: 15px; 
    border: 2px solid #000; 
    transition: transform 0.3s ease; 
}

.carousel-indicators button.active {
    background-color: rgba(255, 255, 255, 1); 
    transform: scale(1.2); 
}

.carousel-indicators button:hover {
    transform: scale(1.3); 
}

.zoom-controls {
    display: flex;
    justify-content: center;
}

.zoom-btn {
    font-size: 1.5rem;
    padding: 5px;
    margin: 0 10px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    align-content: center;
}


@media (min-width: 992px) { 
.nav-link {
       font-size: 1.3rem;
}

.nav-link:hover{
        font-size: 1.42rem;
}
    
form{
        justify-content: center !important;
    }

}

@media (max-width: 576px) { 
    .navbar {
        flex-wrap: wrap;
        height: auto;
    }
    .form-select{
        padding:1rem 2rem;
        font-size: 0.9rem !important;
    }
    
    button{
        padding: 14px !important;
        align-content: center !important;
        font-size: 1rem !important;
    }
    
    btn-font{
        font-size: 0.9rem !important;
    }
    
    .form-check{
        margin-left:8px;
    }
    
    .navbar-toggler{
        padding:10px !important;
    }
    
    .sliderbtn{
        width: 10px;
        height: 50px;
    }
    
    .carousel-indicators [data-bs-target]{
        box-sizing: content-box !important;
        border: 0;
        padding: 0 !important;
    }
    
    .toggle-btn{
        width: 117px !important;
        margin: 5px !important;
    }
    
    .px-4{
        padding-left: 0.6rem !important;
        padding-right: 0.6rem !important;
    }
    
    .zoom-btn{
        font-size: 1.3rem !important;
        padding:5px !important;
    }

}